/* 🌍 Global Color Theme */
:root {
  --primary-bg: #e0dac5;
  --secondary-bg: #d4c3af;
  --thirds-bg: #fffcfa;
  --text-color: #1a1a1a;
  --primary-btn: #2d3e50;
  --primary-btn-hover: #57779a;
  --danger-btn: #e64c66;
  --danger-btn-hover: #c43b52;
  --shadow-color: rgba(0, 0, 0, 0.4);
}


/* Global Mobile-Friendly Adjustments */
@media (max-width: 768px) {
  main, .container {
    padding: 10px;
  }

  h1, h2 {
    font-size: 1.5rem;
  }

  button {
    padding: 10px 15px;
    font-size: 1rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}