/* 🌍 Global Color Theme */
:root {
  --primary-bg: #e0dac5;
  --secondary-bg: #d4c3af;
  --thirds-bg: #fffcfa;
  --text-color: #1a1a1a;
  --primary-btn: #2d3e50;
  --primary-btn-hover: #57779a;
  --danger-btn: #e64c66;
  --danger-btn-hover: #c43b52;
  --shadow-color: rgba(0, 0, 0, 0.4);
}





/* ✅ Navbar Fixes */
.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  align-items: center;
  height: 7vh;
  background-color: #2d3e50;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  gap: 120px;
}

.navbar-nav a {
  color: white;
  padding: 10px 50px;
}

