@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300..900&family=Ranchers&display=swap');


/* Home Container */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Vertically center the content */
  height: 62.7vh; /* Full viewport height */
  background-color: var(--primary-bg);
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* BUTTONS SECTION */
.home-container main {
  display: flex;
  height: 50vh; /* Ensure main content takes up the full height */
  align-items: center;
  justify-content: center;  
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center buttons */
  gap: 15px;
  padding: 20px;
  width: 100%;
  max-width: 900px; /* Limit the max width */
}

.button {
  flex: 1 1 calc(50% - 15px); /* Ensure buttons take up half the width, with gap in between */
  padding: 20px;
  font-size: 1.8rem;
  font-family: "phudu";
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  background-color: #c7b299;
  border: none;
  transition: background 0.3s;
  text-align: center;
  min-width: 200px; /* Ensure buttons don't shrink too much */
}

.button:last-child {
  flex: 1 1 100%; /* Make the last button span the full width */
}

.button:hover {
  background-color: #b39a7f;
}
