.footer {
    width: 100%;
    background-color: var(--secondary-bg);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    border-top: 3px solid #a89c8b;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    flex-shrink: 0;
  }